# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

.remote-sync.json


# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Virtualenv
venv/
survivor-venv/

# Instance folder contains files that shouldn't be in version control
instance/

# Alembic
alembic.ini
