{% extends "bootstrap/base.html" %}

{% block title %}{% if session['university'] %} {{ session['university'] }} {% else %} CSUSB {% endif %} Survivor{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')
}}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
                 type="image/x-icon">
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{% if session['university'] %} {{ session['university'] }} {% else %} CSUSB {% endif %} Survivor</a>
        </div>
        <div class="navbar-collapse collapse">
          <p class="navbar-text pull-right">
            <span class="user-info" style="color:white">
              {% if session.participant_id %}
              {% set p = (session['participant_id'] | participant) %}
              {{ p.first_name }}
              {{ p.last_name }}

              {% if p.relevance == 'relevant' %}
                {% if p.fairness == 'fair' %}
                  002
                {% else %}
                  001
                {% endif %}

              {% else %}
                  {% if p.fairness == 'fair' %}
                    004
                  {% else %}
                    003
                  {% endif %}
              {% endif %}

              {% endif %}
            </span>
            <span id="time-notification-area"></span>
            <span id="loading-bar"></span>
          </p>
            <ul class="nav navbar-nav">

            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
<noscript>
  <div id="noscript-warning bg-danger">This site will not work properly without Javascript. Please enable it in your browser.</div>
</noscript>
