{% extends "game-layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{% if session['university'] %} {{ session['university'] }} {% else %} CSUSB {% endif %} Survivor &ndash; Eliminate Member{% endblock %}

  {% block workspace %}










  <h2>Sorry, you will finish the strategy tasks on your own and will NOT have a chance to win 1, 3, or 5 lottery tickets for a $100.00 draw!
Goodbye!
</h2>

<a id="last_step" class="btn btn-primary">Finish</a>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#last_step').click(function() {
        $(this).hide()
    })
</script>



  {% endblock %}
